body{
    width: 100vw;
    height: 100vh;
    background-color:black;
    background-image:url("images/halloween-7.jpg");
}

#game_info {
    width: 100%;
    height: 20%;
    color: orange;
    font-family: "arial", helvetica, sans-serif;
    text-transform:uppercase;
}

#game_logo{
    display:inline;
    padding-right: 5%;
}

#game_logo img{
    width:10%;
    height:100%;
    border: 5px solid orange;

}
#game_title{
    display:inline;
    padding-right:5%;
    position:relative;
    bottom:50%;
    font-size:300%;
    text-shadow: 2px 4px 3px grey;
}

#settings{
    display:inline;
    padding-right:5%;
    position:relative;
    bottom:50%;
}

#about{
    display:inline;
    position:relative;
    bottom:50%;
}
#about a{
    color:orange;
    text-decoration:none;
}

#game_area{
    width:100%;
    height:100%;
    border:5px solid orange;
}

#stats{
    float:left;
    height:80%;
    width:20%;
    line-height:300%;
    font-family: "arial", helvetica, sans-serif;
    text-transform: uppercase;
    color:white;
}
.stats_label{
    color:orange;
    text-transform:uppercase;
    text-align:center;
}

.label{
    color:orange;
    text-align:center;
}

.reset{
    background-color:orange;
    text-align:center;
    position:relative;
    left:30%;
}

.card{
    width: 150px;
    height:110px;
    position:relative;
    perspective: 1000px;
    display:inline-block;
    background-color:black;
    color:orange;
    border:5px solid orange;
}

.front{
    width:95%;
    height:95%;
    -webkit-backface-visibility: hidden;
}

.back{
    width:95%;
    height:95%;
    position: absolute;
    left:0;
    top:0;
    -webkit-backface-visibility: hidden;

}
img{
    width: 100%;
    height:100%;
}


